.caja {
    width: 200px;
    height: 200px;
    background: #21295c;
    transition: all 1s ease-in-out;
    /*transition-delay: 2s;*/
}

/*
VELOCIDAD DE CURVA
  ease - inicio lento, despues rapido y termina lento
  linear - misma velocidad de inicio a fin 
  ease-in - inicio lento 
  ease-out - final lento
  ease-in-out - inicio lento final lento

*/
.caja:hover {
    background: #9eb3c2;
    width: 400px;
    transform: rotate(180deg);
    
}