.caja {
    width: 200px;
    height: 200px;
    background: rgb(50, 139, 240);
}
/* 
----hay 17 palabras clave que podemos usar:active: 
      aqua, black, blue, fuhsia, gray, green, lime, maroon, navy, 
      olive, orange, purple, red, silver, teal, white, yellow


*/