<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charse="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0", user-scalable=no>
        <title>Layout Basica</title>
        <link rel="stylesheet" href="CSS/main.css">
    </head>
    <body>
        <div class="contenedor">
            <header>
                <nav>
                    <ul>
                        <li><a href="#">inicio</a></li>
                        <li><a href="#">Acerca de</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </nav>
            </header>
            <section class="main">
                <div class="imagen">
                    <img src="img/152227525_2923499117895635_4629506908397920097_n.jpg" alt="">
                </div>
                <section class="posts">
                    <article>
                        <h2>Titulo del Articulo</h2>
                        <p>If you want a retina favicon that will work with Apple touch devices, there is just a 
                        little additional work to be done. Similarly, for Windows 8 or Windows 10 "metro UI" 
                        tile favicons, you will need to conform to certain resolutions and add a background 
                        color for the Windows tile. Head over to the Favicon FAQ to learn how to get Windows 
                        and Apple favicons to show correctly, and how to make favicons for iPhone, iPad, 
                        Android, and Windows devices.</p>
                        <br />

                        <p>If you want a retina favicon that will work with Apple touch devices, there is just a 
                        little additional work to be done. Similarly, for Windows 8 or Windows 10 "metro UI" 
                        tile favicons, you will need to conform to certain resolutions and add a background 
                        color for the Windows tile. Head over to the Favicon FAQ to learn how to get Windows 
                        and Apple favicons to show correctly, and how to make favicons for iPhone, iPad, 
                        Android, and Windows devices.</p>
                    </article>
                </section>
            </section>
            <aside>
                <div class="widget">
                    <h3 class="titulo">Articulos destacados</h3>
                    <ul>
                        <li><a href="#">If you want a retina favicon that will work</a></li>
                        <li><a href="#">If you want a retina favicon that will work</a></li>
                        <li><a href="#">If you want a retina favicon that will work</a></li>
                        <li><a href="#">If you want a retina favicon that will work</a></li>
                        <li><a href="#">If you want a retina favicon that will work</a></li>
                    </ul>
                </div>
                <div class="widget">
                   <h3 class="titulo">Información</h3>
                   <p>If you want a retina favicon that will work with Apple touch devices, there is just a 
                    little additional work to be done. Similarly, for Windows 8 or Windows 10 "metro UI" 
                    tile favicons, you will need to conform to certain resolutions and add a background 
                    color for the Windows tile. Head over to the Favicon FAQ to learn how to get Windows 
                    and Apple favicons to show correctly, and how to make favicons for iPhone, iPad, 
                    Android, and Windows devices.</p>
                </div>
            </aside>
            <footer>
                <p>Johan Diaz 2021 - Todos los derechos reservados</p>
            </footer>
        </div>
        
    </body>    
</html>

