*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Formulario/fondoVeterinaria.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-blend-mode:darken;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
.contenedor {
    width: 400px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
    

.formulario .contenedor-inputs {
    padding: 20px;
    background: #fff;
    border-radius: 6px 6px 0px;
    
}

.formulario input[type="email"],
.formulario input[type="password"]{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.formulario input[type="email"]:focus,
.formulario input[type="password"]:focus{
    border-bottom: 2px solid #246eb9;
}

.formulario input[type="radio"]{
    display: none;
}

.formulario .sexo {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.formulario .sexo .hombre {
    background-origin: 3px 0 0 3px;
}
.formulario .sexo .mujer {
    background-origin: 0 3px 3px 0;

}

.formulario .label-radio{
    background: rgba(249, 160, 63, .4);
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 49.5%;

}

.formulario input[type="radio"]:checked + .label-radio{
    background: #f9a03f;

}

.formulario .terminos{
    text-align: center;
    color: #424242;
}

.formulario .terminos label{
    margin-left: 10px;
}

.formulario .error{
    display: none;
    margin-top: 20px;
    border-radius: 3px;
    background: #ce1818;
    color: #ccc;
    padding: 15px 10px;
    padding-left: 40px;

}
.formulario .btn{
    width: 100%;
    text-align: center;
    background: #246eb9;
    color: #ccc;
    border: none;
    display: block;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 0 0 6px 6px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;

}

.formulario .btn:hover{
    background: #16487a;
}
